/*
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}*/


#target{
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    color: #ffffff;
}

.finger-0{
    color: #ffffff;
    font-weight: bold;
}

.finger-none-0{
    color: #ffffff;
}

.target-block {
    width: 100px;
    height: 100px;
    float: left;
}

.target-blocks {
    width: 800px;
}

.unfingered-block {
    background-color: #1f4eed;
}

.fingered-block  {
    background-color: #e4ed12 !important;
}

.index-fingered-block {
    background-color: #ed9115;
}

.body {
    background-color: #1f4eed;
}