/*
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}*/


#target{
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

.finger-0{
    color: #dd1144;
    font-weight: bold;
}

.target-block {
    width: 100px;
    height: 100px;
    float: left;
}

.target-blocks {
    width: 800px;
}

.unfingered-block {
    background-color: #6495ed;
}

.fingered-block {
    background-color: #98b7ed;
}

.index-fingered-block {
    background-color: #b7d1ed;
}