/*
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}*/


#target{
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

.finger-0{
    color: #dd1144;
    font-weight: bold;
}

.block {
    width: 100px;
    height: 100px;
    background-color: #002a80;
}

.leaped {
    background-color: #6495ed;
}