<!DOCTYPE html>
<html ng-app="calibrateApp">
<head>
    <title>Calibrate v0.0.1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.css"/>

</head>
<body>

    <!--<div ng-controller="LeapCursorCtrl" ng-style="cursorStyle()">Binded Cursor</div>-->

    <div leap-finger     class="finger-0" zooming="true">1st finger {{finger}}</div>
    <div leap-finger="1" class="finger-1 finger-none-0">2nd finger</div>
    <div leap-finger="2" class="finger-2 finger-none-0">3rd finger</div>
    <div leap-finger="3" class="finger-3 finger-none-0">4th finger</div>
    <div leap-finger="4" class="finger-4 finger-none-0">5th finger</div>
    <div leap-finger="5" class="finger-5 finger-none-0">6th finger</div>
    <div leap-finger="6" class="finger-6 finger-none-0">7th finger</div>
    <div leap-finger="7" class="finger-7 finger-none-0">8th finger</div>
    <div leap-finger="8" class="finger-8 finger-none-0">9th finger</div>
    <div leap-finger="9" class="finger-9 finger-none-0">xth finger</div>

    <div class="row-fluid">
        <div class="span10">
            <div class="target-blocks" ng-controller="BlocksCtrl">
                <div ng-repeat="block in blocks">
                    <!--on-any-finger-over="console.log('on-any-finger-over')"
                    on-finger-over="console.log('index-fingered-block')"
                    on-fingers-out="console.log('unfingered-block')"-->
                    <div leap-target
                         on-finger-over="fingerOver(value)"
                         on-finger-out="fingerOut(value)"
                         on-any-finger-over="anyFingerOver(value)"
                         on-all-fingers-out="allFingersOut(value)"
                         class-on-any-finger-over="fingered-block"
                         class-on-finger-over="index-fingered-block"
                         class-on-fingers-out="unfingered-block"
                         class="target-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="span2">
            <div>
                <div class="row" ng-controller="WindowPositionCtrl">
                    <b>Window</b>
                    <p>
                        <pre>{{window.x}}, {{window.y}}</pre>
                    </p>
                </div>
                <div class="row" ng-controller="LeapPositionCtrl">
                    <b>Index Finger Position</b>
                    <div>
                        <p>Position</p>
                        <div ng-show="leap.indexFinger.valid">Valid</div>
                        <div ng-hide="leap.indexFinger.valid">Invalid!</div>
                        <pre>{{leap.indexFinger.position.x}} {{leap.indexFinger.position.y}} {{leap.indexFinger.position.z}}</pre>
                        <p>Velocity</p>
                        <pre>{{leap.indexFinger.velocity.length}}</pre>
                        <p>Acceleration</p>
                        <pre>{{leap.indexFinger.acceleration.length}}</pre>
                        <p>Tool</p>
                        <pre>{{leap.indexFinger.tool}}</pre>
                    </div>
                    <div>
                        <p>FPS</p>
                        <pre>{{leap.fps}}</pre>
                        <p>Latency</p>
                        <pre>{{leap.latency}}</pre>
                    </div>
                    <div>Count : {{leap.fingersCount}}</div>
                    <button ng-click="disconnect()">Disconnect</button>
                    <button ng-click="connect()">Connect</button>
                </div>
            </div>
        </div>
        <div ng-controller="DynamicsGraphicCtrl">
            <!--<fs-area bind="dynamics.data" field="10"/>-->
            <fs-date-histo bind="dynamics.data" field="10"/>
        </div>
    </div>

    <script src="lib/jquery-1.8.1.js"></script>
    <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->

    <script src="lib/sylvester.js"></script>
    <!--<script src="lib/sylvester.src.js"></script>-->

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="lib/leap.js"></script>
    <!--<script src="https://leapmotion.com/leap.min.js"></script>-->

    <script src="lib/easeljs-0.6.0.min.js"></script>
    <!--<script src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>-->

    <script src="lib/angular/angular.js"></script>

    <script src="lib/DomElemAbsPosition.js"></script>

    <script src="js/byleapmotion.js"></script>
    <script src="js/leapFingerDirective.js"></script>
    <script src="js/leapTargetDirective.js"></script>
    <script src="js/app.js"></script>
</body>
</html>